{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BanApp</title>
    <link rel="stylesheet" href="{% static "css/style.css" %} ">
  </head>

  <body>
    <nav></nav>
    <header>
      <h1>BanApp</h1>
      <h2></h2>
    </header>

    <!-- Main content area -->
    <section id="content">
      {% block content %}
        Ban App!
      {% endblock %}
    </section>

    <!-- Footer -->
    <footer></footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  </body>
</html>
